pkgbase = telegram-tdlib-git
	pkgdesc = Cross-platform library for building Telegram clients
	pkgver = 1.8.23
	pkgrel = 1
	url = https://core.telegram.org/tdlib
	arch = i686
	arch = x86_64
	arch = armv7h
	arch = arm
	arch = powerpc
	arch = aarch64
	arch = pentium4
	license = Boost
	makedepends = make
	makedepends = cmake
	makedepends = gperf
	makedepends = git
	depends = openssl
	depends = zlib
	provides = telegram-tdlib=1.8.23
	provides = libtd=1.8.23
	conflicts = telegram-tdlib
	conflicts = libtd
	source = git+file:///data/data/com.termux/files/home/td
	sha256sums = SKIP

pkgname = telegram-tdlib-git
